# =========================
# Python cache files
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
env/
.venv/

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Data (important)
# =========================
data/raw/
data/processed/

# =========================
# Secrets / credentials
# =========================
.env
